# Core
fastapi
uvicorn[standard]

# Database
sqlalchemy
alembic
psycopg2-binary

# Auth & Security
python-jose[cryptography]
passlib[bcrypt]
python-dotenv

# Utils
pydantic

# Testing
pytest
pytest-asyncio
httpx
